@page "/todo"
@rendermode InteractiveServer

<h3> To Do </h3>
<p>
  @($"{todos.Count(todo => !todo.IsDone)} tasks to be completed") 
</p>

<input @bind="newTodo"/>
<button @onclick="AddNewTodo">Add to list</button>

<ul>
  @foreach(var todo in todos){
    <li>
      <input type="checkbox" @bind="todo.IsDone" />
      <input @bind="todo.Title" class="todo-item"/>
    </li>
  }
</ul>

@code{
  private List<TodoItem> todos = new();
  string newTodo = "";

  void AddNewTodo(){
    if(!string.IsNullOrWhiteSpace(newTodo)){
      todos.Add(new TodoItem { Title = newTodo});
      newTodo = string.Empty;
    }
  }
}